html, body {
  background-color: #fff;
  color: #2B283A;
} 

.entry-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.entry-card img {
  width: 125px;
  height: 168px;
  border-radius: 16px;
}

.info {
  width: 326px;
  margin-left: 20px;
}

.info img {
  width: 7px;
  height: 9.5px;
  margin-right: 7px;
}

.top-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-line p {
  width: max-content;
  text-transform: uppercase;
  margin: 0;
}

.top-line a {
  color: #918E9B;
  margin-left: 10px;
  font-size: 10px;
  text-decoration: underline;
}

h2 {
  margin-top: 10px;
}

p {
  font-size: 10px;
  line-height: 1.5;
}